#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 100%;
  border-radius: 20px;
  box-shadow: 0px 0px 15px rgba(20, 0, 20, 0);
  transition: box-shadow 0.4s ease;
}
.read-the-docs:hover {
  box-shadow: 0px 0px 25px rgba(20, 0, 20, 0.5);
}

.description{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 100%;
  border-radius: 20px;
  box-shadow: 0px 0px 15px rgba(20, 0, 20, 0);
  transition:
    transform 0.6s ease, 
    box-shadow 0.4s ease;
}

.description:hover {
  box-shadow: 0px 0px 25px rgba(20, 0, 20, 0.7);
  transform: scale(1.01);
}