*{
  box-sizing: border-box;
}

.navbar {
  background-color: #8b400214;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 150px;
  height: 200px auto;
  margin: 0;
  padding: 5px;
  z-index: 1000;
  top: -10px;
  left: -10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
  transition: box-shadow 1s ease;
}

.navbar:hover {
  box-shadow: 0px 0px 35px rgba(0, 0, 0, 0.4);
}

.logo {
  padding: 1.1rem;
  will-change: filter;
  transition: filter 300ms;
  height: 6rem;
  width: 6rem;
  display: flex;
  align-items: center;
  margin-top: 0%;
  margin-bottom: 0%;
  transition: transform 0.7s ease;
}

.logo:hover {
  filter: drop-shadow(0 0 0.5em #ce7317aa);
  transform: scale(1.1);
}

.navbar-brand {
  font: 2em Verdana;
  font-weight: bold;
  text-align: center;
  width: 64px;
  height: 64px;
}

.navbar-nav .nav-link{
  color: #E48257;
  transition: color 0.3s;
  font: 1em Verdana;
  font-weight: bold;
  margin: 0;
  padding: 0rem;
  left: 0.1em;
  right: 0em;
  text-align: left;
  margin-left: -50px;
  text-align: left;
  align-items: baseline; 
  transition: 
    font-size 0.6s ease-in-out,
    padding-left 0.3s ease;
}

.navbar-nav .nav-link:hover {
  color: #646cff;
  font: 1.4em Verdana;
  font-weight: bold;
  padding-left: 1em;
}